@import "../styles/_colors.scss";
@import "../styles/_helpers.scss";

.label {
  color: tint($black, 20%);
  font-size: 0.875em;
  display: block;
  margin: 0 0 5px 0;
  width: 100%;

  &.required:after {
    content: "*";
    color: $red;
    width: 100%;
  }
}
