.todo-item {
  padding: 7px 10px 12px 10px;
  border-top: 1px solid #ccc;

  border-right: 1px solid #ccc;

  &:last-of-type {
    border-bottom: 1px solid #ccc;
  }

  .description {
    font-size: 0.875em;
    margin: 0 0 5px 0;
    padding: 0;
  }

  .body {
    .field {
      display: block;
      width: auto;
      float: left;
      font-size: 0.75em;
      margin: 0 0 0 5px;

      span {
        color: #666;
      }
    }
    .created-at {
      float: right;
      color: #888;
      font-size: 0.75em;
      margin: 0 0 0 0;
      padding: 0;
    }
  }
  .field:first-of-type {
    margin-left: 0;
  }
}
