@import 'styles/_colors.scss';
@import 'styles/_helpers.scss';

.login-layout {
    .page {
        width: 1024px;
        margin: 0 auto;
    }
    
    .brand {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 35px 0 40px 0;

        .title {
            font-weight: bold;
            font-size: 4em;
            display: block;
            margin-bottom: 4px;
            text-align: center;

            .primary {
                color: $brand-primary;
            }

            .alt {
                color: shade($brand-primary, 30%);
            }
        }

        .tagline {
            font-size: 1em;
            font-weight: normal;
            color: #999;
            display: block;
            text-align: center;
        }
    }
}




